  
.speedDial {
  position: fixed;
  right: 3vmax;
  top: 7vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}


.speedDial {
  position: fixed;
  right: 3vmax;
  top: 7vmax;
}
.nav-logo > hover{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
 .navlink >:hover {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  position: sticky;
  top: 0; 
  z-index: 100;

}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  height: 60px;
  max-width: 1500px;
}

.nav-logo {
  color: #e3e3e3;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}
.p{
  width: 100px;
  display: flex;
  justify-content:left;
  align-items: center;

}
.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #e8e8e6;
}

.nav-item .active {
  color: #e7e6e1;
  border-bottom: 3px solid #f0f0ef;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .p{
    display: none;
  }
  .speedDial {
    position: fixed;
    top: 12vmax;
    
  }
  

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 10000;
    max-width: 1500px;
  }
  
  .nav-menu {
    display: block;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left:-130%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 5000;
  }

  .nav-menu.active {
    background-color: #363636;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
  top: -11px;
  right :-18px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}