.order{
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.o{
        display: flex;
        background-color: tomato; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
}
.op{
    color: black;
   
}
.op1{
    color: red;
}
.op2{
    color:rgb(0, 0, 0);
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}